{                           
  "presets": ["@babel/preset-env", ["@babel/preset-react" , {"runtime": "automatic"}]],
    "plugins": [
        "styled-jsx/babel"
      ],
      "env": {
        "production": {
          "plugins": [
            "styled-jsx/babel"
          ]
        },
        "development": {
          "plugins": [
            "styled-jsx/babel"
          ]
        },
        "test": {
            "plugins": ["styled-jsx/babel-test"]
        }
      }                    
 }